@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap');
nav{
    font-size: 2.5rem;
    width: 100%;
    height: 10rem;
    padding: 4rem 2.5rem 2.5rem 2.5rem;
    background-color: #212027;
    color: #a73325;

    font-family: 'Bai Jamjuree', sans-serif;
    letter-spacing: 3px;
    text-transform: capitalize;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#categoryMenu, #other{
    height: 3rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

#categoryMenu{
    width: 65%;
}

#other{
    width: 35%;
}

.menu:hover{
    color: #F22F08;
    cursor: pointer;
}

.menu:hover .border{
    width: 4rem;
}

.menu{
    width: 15rem;
}

.border{
    width: 0;
    transition: width .1s linear;
    border-bottom: 1px solid #F22F08;
    position: absolute;
    top: 4rem;
}

.twoWord{
    top: 2rem;
}

#connexionButton{
    border: 2px solid #F22F08;
    padding: 1rem;
    width: auto;
    margin: auto;
}

#searchBar input{
    padding: .5rem;
}

.under{
    position: relative;
    top: 12rem;
    background-color: #212027;
    padding: 1rem;
    display: none;
    width: 25rem;
    z-index: 100;
}

.under a{
    display: block;
    margin: 1rem;
}

.under a:hover{
    text-decoration: underline;
}

.dropDown:hover .under{
    display: block;
}

#divConnexion{
    display: flex;
    flex-flow: column nowrap;
}

#divConnexion > p{
    font-size: 1.7rem;
    letter-spacing: initial;
    text-transform: initial;
}

#menuBar{
    display: none;
}