@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suranna&display=swap');

table{
    border-collapse: collapse;
    margin: 5rem auto;
}

th{
    border-bottom: 3px solid #23c3cf;
    background-color: #151515;
    color: #23c3cf;
    text-shadow:0 0 2px #23c3cf,
    0 0 30px #23c3cf,
    0 0 5px #23c3cf,
    0 0 150px #23c3cf;
    padding: 5px;

    font-family: 'Girassol', cursive;
    letter-spacing: 3px;
}

td{
    padding: 1rem 5rem 1rem 1rem;
    background-color: #434343;
    color: #23c3cf;

    font-family: 'Cairo', sans-serif;
}

.romanNumeral{
    font-family: 'Suranna', serif;
    font-size: 2.5rem;
}
