#stockContainer{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 5rem;
}

.categoryName{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 2px solid #23c3cf;
    padding: 1.5rem;
    color: #23c3cf;
    text-shadow:0 0 15px #23c3cf,
    0 0 15px #23c3cf,
    0 0 50px #23c3cf,
    0 0 150px #23c3cf;
    background-color: #151515;
}

.stockLine, .stockDescription{
    height: 0;
    overflow: hidden;
}

.stockName{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 2px solid #23c3cf;
    margin-left: 5rem;
    padding: 1.5rem;
    color: #23c3cf;
    background-color: #313131;
}

.stockDescription{
    margin-left: 10rem;
    padding-left: 1.5rem;
    color: #23c3cf;
    background-color: #424242;
}

.stockDescription p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.delete, .deleteStock{
    color: red;
    margin-right: 2.5rem;
    text-shadow:0 0 15px red,
    0 0 15px red,
    0 0 50px red,
    0 0 150px red;
}

.edit, .editStock{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    text-shadow:0 0 15px #23c3cf,
    0 0 15px #23c3cf,
    0 0 50px #23c3cf,
    0 0 150px #23c3cf;
}

.edit:hover, .delete:hover, .editStock:hover,
.deleteStock:hover, .goToBasket:hover, .shoppingDelete:hover{
    cursor: pointer;
    font-size: 2.3rem;
}

#basketHover:hover{
    cursor: pointer;
}

.categoryName:hover, .stockName:hover{
    cursor: zoom-in;
    font-size: 2.3rem;
    box-shadow: inset 0 0 5px #23c3cf,
    inset 0 0 5px #23c3cf,
    inset 0 0 25px #23c3cf,
    inset 0 0 50px #23c3cf;
}

.stockForm{
    display: flex;
    flex-flow: column wrap;
    width: 375px;
    height: 500px;
    justify-content: space-around;
    margin: 2rem auto;
    border: 2px solid #23c3cf;
    box-shadow: 0 0 5px #23c3cf,
    0 0 25px #23c3cf,
    0 0 50px #23c3cf,
    0 0 50px #23c3cf;
    padding: 2rem;
    background-color: #d6d6d6;
}

.stockForm .flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.formButton{
    padding: .7rem;
    margin: 5rem auto 0 auto;
    display: block;
    background-color: #2E303E;
    color: #23c3cf;
    font-size: 2rem;
    border: 2px solid #23c3cf;
    box-shadow: 0 0 5px #23c3cf;
    cursor: pointer;
}

#shoppingBasket{
    width: 55px;
    height: 55px;
    border-radius: 99rem;
    overflow: hidden;
    background-color: #23c3cf;
    color: #151515;
    padding: 1rem;
    position: fixed;
    right: 1rem;
    top: 9rem;
}

.shoppingLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoppingDelete{
    color: red;
    text-shadow:0 0 2px red,
    0 0 30px red,
    0 0 5px red,
    0 0 150px red;
}

.shoppingInput{
    width: 5rem;
    margin-right: 1.5rem;
}

#basketTitle{
    color: #151515;
    text-shadow:0 0 2px #151515,
    0 0 30px #151515,
    0 0 5px #151515,
    0 0 150px #151515;
    text-decoration: underline;
    display: inline-block;
}

.color{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 1rem;
}

.productLine{
    font-size: 2.7rem;
    margin: 1rem;
}

.productName, .productStock{
    color: #23c3cf;
    text-shadow:0 0 2px #23c3cf,
    0 0 30px #23c3cf,
    0 0 5px #23c3cf,
    0 0 150px #23c3cf;
    padding: .5rem;

}

#containerStock{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 80vh;
    padding: 2rem 5rem;
}

.neonCategory{
    width: 100%;
}
