#stockContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.stockCard{
    border: 2px solid  #23c3cf;
    box-shadow: 0 0 5px #23c3cf;
    margin: 1rem;
    width: 315px;
    position: relative;
    background-color: #434343;
    color: #23c3cf;
}

.title{
    padding: .7rem;
    border-bottom: 2px solid #2E303E;
    background-color: #151515;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.name{
    font-size: 2.6rem;
    text-shadow:0 0 2px #23c3cf,
    0 0 30px #23c3cf,
    0 0 5px #23c3cf,
    0 0 150px #23c3cf;
    color:#23c3cf;
    letter-spacing: 2px;
}

.ref{
    font-size: 1.8rem;
    color: #21838f;
}

.category{
    padding: 1rem 1rem 1rem 0;
}

.description, .info{
    padding: 1rem;
}

.info p{
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.modifyButtonCard{
    position: absolute;
    top: 1rem;
    right: 0;

    text-shadow:0 0 2px #23c3cf,
    0 0 30px #23c3cf,
    0 0 5px #23c3cf,
    0 0 150px #23c3cf;
    box-shadow: 0 0 5px #23c3cf;
    color:#23c3cf;
    background-color:#151515;
    padding: 1rem;
    border: 1px solid #23c3cf;
    display: block;
    width: 95px;
    margin: 2rem auto;
}

.stockForm{
    color: #23c3cf;
    background-color: #474747;
    display: flex;
    flex-flow: column wrap;
    width: 375px;
    height: 500px;
    justify-content: space-around;
    margin: 2rem auto;
    box-shadow: 0 0 15px #23c3cf;
    padding: 2rem;
}

.stockForm .flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.stock{
    margin: 1rem;
}

.formButton{
    padding: .7rem;
    margin: 2rem auto;
    display: block;
    background-color: #151515;
    color: #23c3cf;
    box-shadow: 0 0 15px #23c3cf;
}