#todoListContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2rem auto;
    padding: 2rem;
    width: 100%;
}

.littleContainer{
    border: 2px solid #23c3cf;
    box-shadow: 0 0 5px #23c3cf,
    0 0 25px #23c3cf,
    0 0 50px #23c3cf,
    0 0 50px #23c3cf;
    background-color: #d6d6d6;
    padding: 2rem;
}

.titleList{
    font-size: 3rem;
    text-align: center;
    border-bottom: 1px solid #23c3cf;
}

.contentList{
    padding-top: 5rem;
}